<div *ngIf="provider">
  <div class="container-info">
    <div class="container-account-info">
      <div *ngIf="wallet">My wallet: {{wallet}}</div>
      <div *ngIf="transactionCount">Transactions count(nonce): {{transactionCount}}</div>
    </div>
    <div *ngIf="wethContract">
      <button type="button" (click)="approve()">Approve</button>
    </div>
  </div>
  <div *ngIf="transactionList.length > 0">
    <ul>Transactions:
      <li *ngFor="let transaction of transactionList; let i = index">
        <a href="{{transaction.url}}" target="_blank">{{transaction.label}}</a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!provider || !wallet">
  You must set up MetaMask
</div>
